<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="observer.html">

<script>
  window.EValueMsg = window.EValueMsg || {
    lang: 'en',
    url: 'locales/',
    locales: {}
  };

  let _instances = []; // Holds all ev-msg elements to have them easily updated with translation messages.
  let _fetching = false; // True if there's an outstanding XHR fetching a locale file.
  let _numInstancesUpdated = 0;

/**
`<ev-msg-behavior>` allows adding the internationalization/message string
replacement functionality via a Polymer mixin.

See the `<ev-msg>` documentation for site configuration and language
options.

### Example

To use the `<ev-msg-behavior>` extend the mixin class with your custom
element. Use the `messages` property to get the message, by default all keys
of the first locale file are filled in the property.

If you want only few properties, you can override messages property as in
the following example.

    class MyElement extends EvMsgBehavior(Polymer.Element) {
      ...

      static get properties() {
        return {
          messages: {
            type: Object,
            value: {
              label: 'default label'
            }
          }
        }
      }
      ...
    };

In the template you can then use those message ids:

    <template>
      <h1>[[messages.label]]</h1>
    </template>

### Custom events

If you override the `ready` callback function then you will need to
call the `ready` function in the super class to trigger the messages
initialisation:

    ready() {
      super.ready();
    }

@polymer
@mixinFunction
*/
  const EvMsgBehavior = function (superClass) {
    return class extends superClass {
      /**
       * The `ev-msg-ready` is fired after the locale was fetched and all `<ev-msg>` elements were updated.
       *
       * @event ev-msg-ready
       * @detail {{language: String}}
       */
      static get properties() {
        return {
          /**
           * The language being used.
           */
          language: {
            type: String,
            value: null,
            observer: '_languageChanged',
            readOnly: true
          },
          /**
           * The folder name where the localized `<lang>.json` files are located.
           * Overrides `window.EValueMsg.url` if not `null`.
           */
          messagesUrl: {
            type: String,
            value: 'locales/'
          },
          /**
           * An object containing the set of known language locales that have been loaded.
           */
          locales: {
            type: Object,
            value: {}
          },
          /**
           * messages object, by default it contains all translations.
           */
          messages: {
            type: Object,
            value: {}
          }
        };
      }

      init(EValueMsg) {
        this.EValueMsg = EValueMsg;
        this.messagesUrl = this.EValueMsg.url;
        this._setLanguage(this.EValueMsg.lang);
        // Have instances observe window.EValueMsg.lang changes
        // and go fetch the localized messages.json file.
        const observerLang = new PathObserver(this.EValueMsg, 'lang');
        observerLang.open((newValue, oldValue) => {
          _numInstancesUpdated = 0;
          this._setLanguage(newValue);
        });

        // Have instances observe window.EValueMsg.url changes
        // and go fetch the localized messages.json file.
        var observerUrl = new PathObserver(this.EValueMsg, 'url');
        observerUrl.open((newValue, oldValue) => {
          _numInstancesUpdated = 0;
          this.messagesUrl = newValue;
          // TODO: this will xhr the json file for each instance.
          // if (!this.language || _fetching) {
          //   return;
          // }
          this._fetchLanguage();
        });

        _instances.push(this);
      }

      /**
       * @private
       * Returns a message in the current locale (set by `window.EValueMsg.lang`).
       * @method parentGetMsg
       * @param {string=} op_msgkey Optional message key to lookup.
       * @return {string|null} Translated message or `null` if not found.
       */
      _parentGetMsg(op_msgkey) {
        const msgkey = op_msgkey;
        if (this.locales) {
          const lang = this.locales[this.language];
          if (lang && lang[msgkey]) {
            return lang[msgkey].message;
          }
        }

        return null;
      }

      /**
       * @private
       */
      _languageChanged() {
        // Don't fetch .json file if it has already been
        // fetched or another instance is already trying to.
        if (this.language && this.locales[this.language] && !_fetching) {
          // Send one signal that language changed to outside.
          if (_numInstancesUpdated == _instances.length - 1) {
            this.dispatchEvent(new CustomEvent('ev-msg-ready', {detail: {language: this.language}, bubbles: true, composed: true}));
          }

          this._updateMessages();
          _numInstancesUpdated++;

          return;
        } else if (!this.language || this.locales[this.language] || _fetching) {
          return;
        }

        this._fetchLanguage();
      }

      /**
       * @private
       */
      _fetchLanguage() {
        // if (_fetching) {
        //   return;
        // }
        _fetching = true;
        const url = `${this.messagesUrl + this.language}.json`;
        const xhr = new XMLHttpRequest();
        xhr.open('GET', url);
        xhr.onload = (e) => {
          _fetching = false;
          if (e.target.status !== 200 && e.target.status !== 0) {
            return;
          }

          const resp = JSON.parse(e.target.response);
          this.locales[this.language] = resp; // cache this locale.
          this._notifyInstances();
          this.dispatchEvent(new CustomEvent('ev-msg-ready', {detail: {language: this.language}, bubbles: true, composed: true}));
        };

        xhr.onerror = (e) => {
          _fetching = false;
        };

        xhr.send();
      }

      /**
       * @private
       */
      _notifyInstances() {
        for (let i = 0, instance; instance = _instances[i]; ++i) {
          instance._setLanguage(this.EValueMsg.lang);
          instance.locales[this.language] = this.locales[this.language];
          instance._updateMessages();
        }
      }

      ready() {
        super.ready();
        this.init(window.EValueMsg);
      }

      /**
       * @private
       */
      _setMsgs(msgkey) {
        const msg = this._parentGetMsg(msgkey);
        if (msg) {
          this.set('messages.' + msgkey, msg);
        } else {
          console.warn(this.language + ': "' + msgkey + '" message key was not found in ' + EValueMsg.url);
        }
     }

     /**
       * @private
       */
     _updateMessages() {
        if (this.locales && this.locales[this.language]) {
          // If messages is empty fill it with the keys from the first locale
          if (Object.keys(this.messages).length === 0) {
            const localesArray = Object.keys(this.locales);
            if (localesArray.length > 0) {
              Object.keys(this.locales[localesArray[0]]).forEach((msgKey) => {
                this.messages[msgKey] = '';
                this._setMsgs(msgKey);
              });
            }
          } else {
            Object.keys(this.messages).forEach(this._setMsgs.bind(this));
          }
        }
      }
    }
  }
</script>
