<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../ev-msg-behavior.html">

<!--
`<ev-msg-behavior-example>`
Example of ev-msg-behavior usage in a component page.
With messages override
-->
<dom-module id="ev-msg-behavior-example">
  <template>
    <h1>[[messages.days]]</h1>
    <span>[[messages.hours]]</span>
  </template>

  <script>
    class EvMsgBehaviorExample extends EvMsgBehavior(Polymer.Element) {
      static get is() { return "ev-msg-behavior-example"; }
      static get properties() {
        return {
          messages: {
            value: {
              days: ''
            }
          }
        }
      }
    }

    window.customElements.define(EvMsgBehaviorExample.is, EvMsgBehaviorExample);
  </script>
</dom-module>

<!--
`<ev-msg-behavior-example-wp>`
Example of ev-msg-behavior usage in a component page.
-->
<dom-module id="ev-msg-behavior-example-wp">
  <template>
    <h1>[[messages.days]]</h1>
    <span>[[messages.hours]]</span>
  </template>

  <script>
    class EvMsgBehaviorExampleWp extends EvMsgBehavior(Polymer.Element) {
      static get is() { return "ev-msg-behavior-example-wp"; }
    }

    window.customElements.define(EvMsgBehaviorExampleWp.is, EvMsgBehaviorExampleWp);
  </script>
</dom-module>

