<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>ev-msg element Demo</title>

    <script src="../../webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../polymer/lib/elements/dom-bind.html">

    <link rel="import" href="../ev-msg.html">
    <link rel="import" href="ev-msg-behavior-example.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
        ev-msg {
          font-weight: 900;
        }

        #floating {
          background-color: #FFFFFF;
          bottom: 24px;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          padding: 20px;
          position: fixed;
          right: 24px;
          z-index: 2;
        }
      </style>
    </custom-style>
  </head>
  <body>
    <div id="floating">
      <label for="selector">Select language</label>
      <select id="selector">
        <option value="en">English</option>
        <option value="es">Spanish</option>
        <option value="fr">French</option>
        <option value="de">German</option>
        <option value="pl">Polish</option>
        <option value="zh">Chinese</option>
      </select>
    </div>

    <div class="vertical-section-container centered">
      <h3>Basic ev-msg demo</h3>
      <demo-snippet>
        <template>
          <p>
            "Days" in selected language is: <ev-msg msgkey="days">PLACEHOLDER_STRING</ev-msg>
          </p>
          <p>
            "Hours" in selected language is: <ev-msg msgkey="hours">PLACEHOLDER_STRING</ev-msg>
          </p>
          <p>
            "Minutes" in selected language is: <ev-msg msgkey="minutes">PLACEHOLDER_STRING</ev-msg>
          </p>
        </template>
      </demo-snippet>

      <h3>Falls back to placeholder when key is not found</h3>
      <demo-snippet>
        <template>
          <ev-msg msgkey="UNKNOWN_MSG_ID">PLACEHOLDER_STRING</ev-msg>
        </template>
      </demo-snippet>

      <h3>ev-msg can also be used to update attributes</h3>
      <demo-snippet>
        <template>
          <dom-bind>
            <template>
              <ev-msg msgkey="days" msg="{{days}}" hidden></ev-msg>
              <input id="input" placeholder="[[days]]">
            </template>
          </dom-bind>
        </template>
      </demo-snippet>

      <h3>Example of an element using the ev-msg-behavior</code></h3>
      <demo-snippet>
        <template>
          <ev-msg-behavior-example></ev-msg-behavior-example>
        </template>
      </demo-snippet>

      <h3>Place holders can be used to insert fixed values into the message</h3>
      <demo-snippet>
        <template>
          <ev-msg msgkey="welcome" placeholders='["John", "Placeholders"]'>Default Welcome Message</ev-msg>
        </template>
      </demo-snippet>

      <h3>... As well dynamic values</h3>
      <demo-snippet>
        <template>
          <dom-bind>
            <template>
              <input type="text" placeholder="Enter your name..." value="{{name::keyup}}">
              <ev-msg msgkey="welcome" placeholders$='["[[name]]", "Placeholders"]'>Default Welcome Message</ev-msg>
            </template>
          </dom-bind>
        </template>
      </demo-snippet>
    </div>

    <script>
      const selector = document.querySelector('#selector');

      document.addEventListener('WebComponentsReady', () => {
        EValueMsg.lang = selector.value || document.documentElement.lang || 'en';
        Platform.performMicrotaskCheckpoint();
      });

      selector.addEventListener('change', (e) => {
        document.documentElement.lang = e.currentTarget.value;
        EValueMsg.lang = e.currentTarget.value;
        Platform.performMicrotaskCheckpoint();
      });
    </script>
  </body>
</html>
